<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Resturant</title>
    <!-- =====Css Link====== -->
    <link rel="stylesheet" href="../assets/style.css">
    <!-- =====Bootstrap Link====== -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
  </head>
<body>
    <!-- ===== Navbar ====== -->
  
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand d-lg-none" href="../views/index.html"><img src="../assets/img/logo.png" alt="" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
          <span class="menu-btn"><i class='bx bx-menu'></i></span>
        </button>
        <div class="container-fluid">
          <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <a class="nav-link" href="../views/index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/menu.html">Our Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../views/contact.html">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shop</a>
              </li>
            </ul>
          </div>
          <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto d-none d-lg-block" href="../views/index.html"><img src="../assets/img/logo.png" alt="" class="logo"></a>
          </div>
          <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarNavDropdown">
            <div class="nav__icons ml-auto text-lg-left text-center">
              <a href="" class="nav__icon"><i class='bx bxs-user'></i></a>
              <a href="" class="nav__icon"><i class='bx bxs-cart'></i></a>
              <a href="" class="nav__icon"><i class='bx bxs-home' ></i></a>
            </div>
          </div>
        </div>
      </nav>

    <!-- ===== hero section ====== -->
      <section class="hero d-flex align-items-center justify-content-center" id="hero">
        <div class="container">
          <div class="row">
            <div class="col-md-12 d-flex flex-column justify-content-center text-center">
              <p class="hero-subtitle">Welcome To</p>
            </div>
            <div class="col-md-12 d-flex flex-column justify-content-center text-center">
              <h1 class="hero-title">Our Happy<br>Resturant</h1>
            </div>
            <div class="col-md-12 d-flex flex-column justify-content-center text-center">
              <p class="hero-p">Pizza.Burger.Fried.Chiken.Meat</p>
            </div>
          </div>
        </div>
      </section>

    <!-- ===== second section ====== -->
      <section class="second" id="second-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12 d-flex flex-column justify-content-center text-center">
              <p class="second-subtitle">Ristorante</p>
              <h1 class="second-title"><span><i class='bx bxs-star' style='color:#ffffff'  ></i></span>Pizza Menu<span><i class='bx bxs-star' style='color:#ffffff'  ></i></span></h1>
              <p class="second-p">Our Best Selection</p>
            </div>
          </div>
          
        </div >
        <!-- Swiper -->
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="row">
                <div class="col-md-6">
                  <img src="../assets/img/pizza/pizza1.png" alt="" class="img-pizza ">
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-center">
                  <h1 class="pizza-type">Margherita</h1>
                  <p class="pizza-content">Tomato sauce, Mozzarella cheese, oregano and fresh basil.</p>
                  <div class="row">
                    <div class="col">
                      <p class="pizza-size">REGULAR SIZE</p>
                    </div>
                    <div class="col">
                      <p class="pizza-price">$29</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="pizza-size">MEDIUM SIZE</p>
                    </div>
                    <div class="col">
                      <p class="pizza-price">$35</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="row">
                <div class="col-md-6 d-flex flex-column justify-content-center">
                  <img src="../assets/img/pizza/pizza2.png" alt="" class="img-pizza">
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-center">
                  <h1 class="pizza-type">Classic Burrata</h1>
                  <p class="pizza-content">Tomato sauce, Burrata, Parmesan & mozzarella cheese, Fresh Arugula. Ricotta cheese and fresh basil pesto.</p>
                  <div class="row">
                    <div class="col">
                      <p class="pizza-size">REGULAR SIZE</p>
                    </div>
                    <div class="col">
                      <p class="pizza-price">$29</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="pizza-size">MEDIUM SIZE</p>
                    </div>
                    <div class="col">
                      <p class="pizza-price">$35</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="row">
                <div class="col-md-6 d-flex flex-column justify-content-center">
                  <img src="../assets/img/pizza/pizza3.png" alt="" class="img-pizza">
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-center">
                  <h1 class="pizza-type">Capricciosa</h1>
                  <p class="pizza-content">Tomato sauce, Fresh Buffalo mozzarella cheese, Cherry tomato & Fresh Basil.</p>
                  <div class="row">
                    <div class="col">
                      <p class="pizza-size">REGULAR SIZE</p>
                    </div>
                    <div class="col">
                      <p class="pizza-price">$29</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="pizza-size">MEDIUM SIZE</p>
                    </div>
                    <div class="col">
                      <p class="pizza-price">$35</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="row">
                <div class="col-md-6 d-flex flex-column justify-content-center">
                  <img src="../assets/img/pizza/pizza4.png" alt="" class="img-pizza img-fluid">
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-center">
                  
                  <h1 class="pizza-type">Siciliana</h1>
                  <p class="pizza-content">Tomato sauce, mozzarella cheese, salami, artichokes, roasted red capcicum, ricotta cheese and fresh basil pesto.</p>
                  <div class="row">
                    <div class="col">
                      <p class="pizza-size">REGULAR SIZE</p>
                    </div>
                    <div class="col">
                      <p class="pizza-price">$33</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="pizza-size">MEDIUM SIZE</p>
                    </div>
                    <div class="col">
                      <p class="pizza-price">$39</p>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </section>

    <!-- ===== pasta section ====== -->  
      <section class="pasta-section" id="pasta-section">
        <div class="container">
          <p class="pasta-subtitle">the most popular</p>
          <h1 class="pasta-title">Fresh Pasta</h1>

          <div class="row">
            <div class="col-md-4">
              <img class="pasta-img" alt="" src="../assets/img/pasta/aleksandra-tanasiienko-0y6eMd8vevA-unsplash.jpg">
              <div class="row">
                <div class="col-8">
                  <p class="pasta-type">SPAGHETTI PUTTANESCA</p>
                </div>
                <div class="col">
                  <p class="pasta-price text-right">$29.99</p>
                </div>
              </div>
              <p class="pasta-content">Extra virgin olive oil, touch of garlic, prawns, green peas, sun dried tomato, white wine and Italian herbs.</p>
            </div>

            <div class="col-md-4">
              <img class="pasta-img" alt="" src="../assets/img/pasta/pastatttt.png">
              <div class="row">
                <div class="col-8">
                  <p class="pasta-type">SPAGHETTI NAPOLETANA</p>
                </div>
                <div class="col">
                  <p class="pasta-price text-right">$24.99</p>
                </div>
              </div>
              <p class="pasta-content">Spaghetti with olive oil, touch of garlic, olives, capers, anchovies, Italian Herbs and Napolitanan sauce with fresh basil.</p>
            </div>

            <div class="col-md-4">
              <img class="pasta-img" alt="" src="../assets/img/pasta/pasta3.png">
              <div class="row">
                <div class="col-8">
                  <p class="pasta-type">PENNE ALLA ARRABBIATA</p>
                </div>
                <div class="col">
                  <p class="pasta-price text-right">$24.99</p>
                </div>
              </div>
              <p class="pasta-content">Tubes of al dente pasta with olive oil, garlic, bacon, onion, basil and a touch of red sauce.</p>
            </div>
          </div>


          <div class="row">
            <div class="col-md-4">
              <img class="pasta-img" alt="" src="../assets/img/pasta/pasta4.png">
              <div class="row">
                <div class="col-8">
                  <p class="pasta-type">PAPPARDELLE GAMBERI</p>
                </div>
                <div class="col">
                  <p class="pasta-price text-right">$35.99</p>
                </div>
              </div>
              <p class="pasta-content">Extra virgin olive oil, touch of garlic, prawns, green peas, sun dried tomato, white wine and Italian herbs.</p>
            </div>

            <div class="col-md-4">
              <img class="pasta-img" alt="" src="../assets/img/pasta/pasta5.png">
              <div class="row">
                <div class="col-8">
                  <p class="pasta-type">SEAFOOD CAPELLINI PASTA</p>
                </div>
                <div class="col">
                  <p class="pasta-price text-right">$24.99</p>
                </div>
              </div>
              <p class="pasta-content">Al dente spaghetti in the regional tomato sauce with a hint of herbs.</p>
            </div>

            <div class="col-md-4">
              <img class="pasta-img" alt="" src="../assets/img/pasta/pasta6.png">
              <div class="row">
                <div class="col-8">
                  <p class="pasta-type">MUSHROOM BOLOGNESE</p>
                </div>
                <div class="col text-right">
                  <p class="pasta-price">$29.99</p>
                </div>
              </div>
              <p class="pasta-content">Extra virgin olive oil, touch of garlic, prawns, green peas, sun dried tomato, white wine and Italian herbs.</p>
            </div>
          </div>
        </div>
      </section>

    <!-- ===== menu section ====== --> 
    <section class="menu-section" id="menu-section">
      <div class="container">
        <p class="pasta-subtitle">THE FULL MENU</p>
        <h1 class="pasta-title">À LA CARTE</h1>
        <div class="row">
          
          <div class="col-md-6">
            <h1 class="title">starters</h1>
            <span class="line-home" ></span>
            <div class="row">
              <div class="col-2 "><img class="menu-img" alt="" src="../assets/img/download.jpg"></div>
              <div class="col-10  d-flex flex-column justify-content-center" >
                <div class="row">
                  <div class="col">
                    <h3 class="name"> PURPLE CORN TOSTADA <span>SEASONAL</span></h3>
                  </div>
                  <div class="col">
                    <h3 class="price">$36</h3>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col">
                    <p class="describtion">Ricotta, goat cheese, beetroot and datterini.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-2"><img class="menu-img" alt="" src="../assets/img/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2020__04__Turkey-Club-LEAD-3-48a8d4f44b35481390f7963f84dce3ad.jpg"></div>
              <div class="col-10 d-flex flex-column justify-content-center" >
                <div class="row">
                  <div class="col">
                    <h3 class="name"> BRUNO'S SCRIBBLE</h3>
                  </div>
                  <div class="col">
                    <h3 class="price">$30</h3>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col">
                    <p class="describtion">Culatello, Spalla Cotta, Mortadella, Culacciona.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-2"><img class="menu-img" alt="" src="../assets/img/product-oyster.jpg"></div>
              <div class="col-10 d-flex flex-column justify-content-center" >
                <div class="row">
                  <div class="col">
                    <h3 class="name"> FRESH OYSTERS DOZEN</h3>
                  </div>
                  <div class="col">
                    <h3 class="price">$59</h3>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col">
                    <p class="describtion">Our selection of fresh oysters, limes.</p>
                  </div>
                </div>
              </div>
            </div>

            <h1 class="title1">sides</h1>
            <span class="line-home1" ></span>
            <div class="row">
              <div class="col-2"><img class="menu-img" alt="" src="../assets/img/download (1).jpg"></div>
              <div class="col-10 d-flex flex-column justify-content-center" >
                <div class="row">
                  <div class="col">
                    <h3 class="name">  BRUSSEL SPROUTS  <span>new</span></h3>
                  </div>
                  <div class="col">
                    <h3 class="price">$13</h3>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col">
                    <p class="describtion">Pork lardon, garlic, blasamic glaze.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-2"><img class="menu-img" alt="" src="../assets/img/download (2).jpg"></div>
              <div class="col-10 d-flex flex-column justify-content-center" >
                <div class="row">
                  <div class="col">
                    <h3 class="name"> BROCCOLINI & XO BUTTER</h3>
                  </div>
                  <div class="col">
                    <h3 class="price">$15</h3>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col">
                    <p class="describtion">Pan-fried broccolini, XO butter & crispy shallots.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <h1 class="title">Pizzas</h1>
            <span class="line-home" ></span>
            <div class="row">
              <div class="col-2"><img class="menu-img" alt="" src="../assets/img/CLASSIC BURRATA.jpg"></div>
              <div class="col-8 d-flex flex-column justify-content-center" >
                <div class="row">
                  <div class="col">
                    <h3 class="name"> CLASSIC BURRATA  <span>RECOMMENDED</span></h3>
                  </div>
                  <div class="col">
                    <h3 class="price">$30</h3>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col">
                    <p class="describtion">Tomato, Burrata, Parmesan & mozzarella.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-2"><img class="menu-img" alt="" src="../assets/img/the-diavola-pizza-is.jpg"></div>
              <div class="col-8 d-flex flex-column justify-content-center" >
                <div class="row">
                  <div class="col">
                    <h3 class="name">  DIAVOLA</h3>
                  </div>
                  <div class="col">
                    <h3 class="price">$30</h3>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col">
                    <p class="describtion">Tomato sauce, mozzarella, salame, pepperoni.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-2"><img class="menu-img" alt="" src="../assets/img/Pizza_vegetariana.jpg"></div>
              <div class="col-8 d-flex flex-column justify-content-center" >
                <div class="row">
                  <div class="col">
                    <h3 class="name"> VEGETARIANA</h3>
                  </div>
                  <div class="col">
                    <h3 class="price">$24</h3>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col">
                    <p class="describtion">Tomato sauce, mozzarella, artichokes, zucchini, mushrooms.</p>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-2"><img class="menu-img" alt="" src="../assets/img/margherita pizza.jpg"></div>
              <div class="col-8 d-flex flex-column justify-content-center" >
                <div class="row">
                  <div class="col">
                    <h3 class="name">  MARGHERITA</h3>
                  </div>
                  <div class="col">
                    <h3 class="price">$29</h3>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col">
                    <p class="describtion">Tomato sauce, Mozzarella cheese, oregano and fresh basil.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-2"><img class="menu-img" alt="" src="../assets/img/DA CALABRIA.jpg"></div>
              <div class="col-8 d-flex flex-column justify-content-center" >
                <div class="row">
                  <div class="col">
                    <h3 class="name"> DA CALABRIA</h3>
                  </div>
                  <div class="col">
                    <h3 class="price">$22</h3>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col">
                    <p class="describtion">Mozzarella, roasted mushrooms, Italian sausage, black olives.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-2"><img class="menu-img" alt="" src="../assets/img/pizza-capricciosa.jpg"></div>
              <div class="col-8 d-flex flex-column justify-content-center" >
                <div class="row">
                  <div class="col">
                    <h3 class="name"> CAPRICCIOSA</h3>
                  </div>
                  <div class="col">
                    <h3 class="price">$25</h3>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col">
                    <p class="describtion">Tomato sauce, mozzarella, artichokes, olives, prosciutto.</p>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="row ">
          <div class="col-md-6 d-flex flex-column text-right">
            <a class="btn_link" href="../views/menu.html" ><button class="first__btn">View Full Menus</button></a>
          </div>
          <div class="col-md-6 d-flex flex-column text-left">
            <a class="btn_link" href="" ><button class="sec__btn">Order Online </button></a>
          </div>
        </div>
      </div>
    </section>

    <!-- ===== About section ====== --> 
    <section class="about" id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <p class="about-subtitle">NUTRITION AND TASTE</p>
            <h1 class="about-title">QUALITY & <br>BALANCED FOOD</h1>
            <p class="about-p">We serve food, harmony, and laughter. Making delicious food<br> and providing a wonderful eating experience since 1998.</p>
            <a class="btn" href="../views/about.html" ><button class="about-btn ">Learn More</button></a>
          </div>
          <div class="col-md-6 ">
            <img alt="" class="img-about1" src="../assets/img/about1.jpg">
            <img alt="" class="img-about2" src="../assets/img/about2.jpg">
          </div>
        </div>
      </div>
    </section>

    <!-- ===== Adress section ====== -->
    <section class="adress" id="adress">
      <div class="container">
        <div class="row">
          <div class="col-md-4 order-lg-3 order-sm-1 order-xs-1">
            <p class="about-subtitle">WHERE TO FIND US</p>
            <h1 class="about-title">VISIT OUR RESTAURANT</h1>
            <p class="about-p">We see our customers as invited guests to a party, and we are the hosts.</p>
            <p class="adress-detiles">Piazza della Signoria, 1050122 . Firenze . Italy <br>M: booking@patiotime.com
              <br>T: +39 055 1234567</p>
            <a class="btn" href="" ><button class="adress-btn">Get Direction</button></a>
          </div>
          <div class="col-md-4 order-lg-1 order-sm-3 order-xs-3">
            <img alt="" class="img-adress1" src="../assets/img/Shish-Tawook-8-2.jpg">
          </div>
          <div class="col-md-4 order-lg-2 order-sm-3 order-xs-3">
            <img alt="" class="img-adress2" src="../assets/img/desert.jpg">
          </div>
          
        </div>
      </div>
    </section>

    <!-- =====Footer section====== -->
    <section class="footer" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 d-flex flex-column align-items-center order-md-2 order-sm-1 ">
            <a href="#"><img alt="" class="logo-footer" src="../assets/img/logo.png"></a>
            <p class="footer-adress">Piazza della Signoria, 1050122 . Firenze . Italy</p>
            <p class="footer-adress">M: booking@patiotime.com</p>
            <p class="footer-adress">T: +39 055 1234567</p>
            <div class="social__logo"> 
              <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
              <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
              <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a> 
              <a href="#" class="footer__social"><i class='bx bxl-youtube'></i></a>
              <a href="#" class="footer__social"><i class='bx bxl-pinterest'></i></a>
            </div> 
          </div>


          <div class="col-md-4 order-md-1 order-sm-2 text-lg-left text-center">
            <h3 class="time">Opening Hours</h3>
            <div class="row">
              <div class="col">
                <ul class="days">
                  <li>Monday - Friday</li>
                  <li>Saturday</li>
                  <li>Sunday</li>
                  <br>
                  <li>*Happy Hours</li>
                </ul>
              </div>

              <div class="col">
                <ul class="hours">
                  <li>09:00 - 22:00</li>
                  <li>11:00 - 00:00</li>
                  <li>11:00 - 23:00</li>
                  <br>
                  <li>17:00 - 21:00</li>
                </ul>
              </div>
            </div>
          </div>

          

          <div class="col-md-4 order-lg-3 order-sm-3 order-xs-3 text-lg-left text-center">
            <h3 class="footer-newsletter">NEWSLETTER</h3>
            <p class="footer-p">Receive the latest news from us.</p>
            <input class="footer-email" type="email" placeholder="Your Email address" name="mail" >
            <a href="#" class="arrow"><i class='bx bx-right-arrow-alt' style="color:#ffffff ;"></i></a>
            <label><input type="checkbox"  name="subscribe"> I agree to the Privacy Policy</label>
          </div>
        </div>
      </div>

      <!-- =====Footer ====== -->
      <footer class="footer-right" id="footer-right">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <p class="footer-theme text-md-left text-center">Restaurant & Cafe WP Theme</p>
            </div>
            <div class="col-md-6 text-center">
              <a href="../views/about.html" class="footer-link">About</a>
              <a href="/views/contact.html" class="footer-link">Reservation</a>
              <a href="/views/contact.html" class="footer-link">Contact</a>
              <a href="/views/index.html" class="footer-link">Privacy</a>
              <a href="/views/index.html" class="footer-link">Policy</a>
            </div>
            <div class="col-md-3">
              <p class="footer-copy text-md-right text-center">&#169;Copyright 2022</p>
            </div>
          </div>
        </div>
      </footer>

    </section>

    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top"> 
      <i class='bx bx-chevron-up scrolltop__icon'></i>
    </a> 

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- =====Main JS====== -->
    <script src="../assets/index.js"></script>
    <!-- =====Bootstrap JS====== -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>